# --- FICHIERS SYSTÈME ET IDE ---
.idea/
*.iml
.DS_Store
Thumbs.db
capture/
*.hprof

# --- FRONTEND (ANDROID - NOUHA) ---
# On ignore les dossiers de compilation d'Android
.gradle/
build/
local.properties
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
# Fichiers de configuration spécifiques à l'utilisateur
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
google-services.json
*.jks
*.keystore

# --- BACKEND (SPRING BOOT - RABAB) ---
# On ignore les dossiers de compilation Maven
target/
*.log
.mvn/
mvnw
mvnw.cmd

# --- SÉCURITÉ ---
.env
